flask-api/.vscode/launch.json
flask-api/.vscode/settings.json
flask-api/.pylintrc
flask-api/pbi/pbi_api_ml.pbix
flask-api/python_logic/test_api.txt
flask-api/python_logic/PA_Only/config.py
flask-api/python_logic/testing.py
seasonal-decomp/.pylintrc
seasonal-decomp/.vscode/launch.json
seasonal-decomp/.vscode/settings.json
requirements gen.txt
seasonal-decomp/python-logic/__pycache__/helpers.cpython-38.pyc
sarimax/.pylintrc
sarimax/.vscode/launch.json
sarimax/.vscode/settings.json
sarimax/python-logic/__pycache__/helpers.cpython-38.pyc
hyperparameter-optimization/optuna/catboost_info/*
nlp/preprocess/.vector_cache/*
connect-four/__pycache__/*
connect-four/src/__pycache__/*
connect-four/web/config.py
connect-four/*
boosted-tree-time-series/data/*
boosted-tree-time-series/catboost_info
time-series-eda/data/*
boosted-tree-time-series/demo.ipynb
boosted-tree-time-series/data_download.ipynb
boosted-tree-time-series/*
.env
pydantic-ai-streaming/.env
pydantic-ai-streaming/.vscode/*
pydantic-ai-streaming/.vscode/
__pycache__/
*.py[cod]
*$py.class
simple-mcp-example/.env
simple-mcp-example/.vscode/*
simple-mcp-example/.vscode/
astro-svelte-frontend/noce_modules
astro-svelte-frontend/noce_modules/*
astro-svelte-frontend/.env
astro-svelte-frontend/.vscode/*
astro-svelte-frontend/.vscode
langchain-local-llm/models/*